<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
<h1 align="center">Digital Book Applicaton</h1>
<br><br>
<div class="container align-items-center justify-content-center">
    <div class="row">
        <button class="btn  col-2" routerLink='/createbook'>Create Book</button>
    </div>
    <br>
    <div class="row">
            <button  class="btn  col-2" routerLink="/login">Login</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/register">Register</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/getBooks">BookList</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/BuyBook">BuyBook</button>
    </div>
    <br>
    <div class="row">
        <button class="btn  col-2" routerLink="/Authenticate">GetToken</button>
    </div>
</div>

</body>
</html>