


  <table class="table table-striped table-hover" style="background-color:white">
    <thead style="background-color:rgb(255, 127, 159)">
      <td>bookId</td>
    <td>Pid</td>
    <td>readername</td>
    <td>readerEmailid</td>
    <td>Purchased Date</td>

    <td></td>
    </thead>
 
      <tr >
        <td>{{buybooks.bookid}}</td>
   
    <td>{{buybooks.pid}}</td>
    <td>{{buybooks.name}}</td>
    <td>{{buybooks.emailid}}</td>
    <td>{{buybooks.date}}</td>
    <!-- <td><button (click) ='deleteBook(book.id)'>Delete Book</button></td> -->
      </tr>

  <br>
  <!-- <button routerLink="/createbook" class='btn btn-dark' > Back </button> -->
</table>
